<h1>Notes on how to set up a ruby on rails app/website</h1>
<br></br>
<p>the way to build a new website with rails is to plan out the pages that you want and use the generate method</p>
<ul>first use the the: $ rails generate controller arg1 *arg2 </ul>
<ul>ar1 = the directory name</ul>
<ul>arg2..ect = the name of the html.rb file</ul>
<p> Only use the generate controller one time and manually add new pages after</p>
<p>Find me in app/views/home/index.html.erb</p>