
<h1>This is going to be the home page</h1>

<p>usefull links: </p>

<p>For usefull notes on how to use rails commands</p><%= link_to 'how to', home_HowTo_path %>

<%= link_to 'About Us', home_about_path %>