<h1>The trick to adding another page is to</h1>
<ul>first use the the: $ rails generate controller arg1 arg2 </ul>
<ul>ar1 = the directory name</ul>
<ul>arg2 = the name of the html.rb file</ul>
<p>Find me in app/views/home/index.html.erb</p>
